@media (max-width:1920px) {
  .header__container {
    max-width: 1350px;
  }
  .services__container {
    max-width: 1110px;

  }
  .services__body {
    max-width: 664px;
  }
  .team {

    background-size: 100% auto;
    padding: 163px 0 158px 0;
  }

}

@media (max-width:1440px) {
  .header__container {
    max-width: 964px;
  }
  .services__container {
    max-width: 964px;

  }
  .services__body {
    max-width: 486px;
  }
  .team {

    padding: 103px 0;

    &__title {
      @include font-primary(86px, 105px);
    }
  }

}


@media (max-width:1024px) {

  .header__container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 30px 0;
    max-width: 678px;
  }
  .logo__body {
    grid-row: 2/3;
  }
  .additional {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 0;
  }
  .navigation {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 0;
  }

  .services__container {
    max-width: 678px;
    padding: 60px 15px;
    grid-template-columns: auto;
    gap: 30px 0;


  }
  .services__body {
    max-width: 100%;
  }
  .team {
    padding: 89px 0;

    &__title {
      @include font-primary(46px, 56px);
    }
  }


}

@media (max-width:768px) {
  body {
    position: relative;
  }
  .header__container {
    gap: 0;
    padding: 45px 0 10px 0;
    max-width: 100%;
  }
  .logo {
    &__body {
      margin: 0 auto;
      max-width: 375px;
      padding: 15px 15px 20px 15px;
    }

    &__img {
      max-height: 32px;
      max-width: 70px;
    }

    &__page-name::before {
      width: 12px;
      height: 26px;
    }

    &__page-name {
      padding-left: 20px;
      @include font-primary(20px, 24px);
      background-size: 12px 26px;
    }
  }
  .additional {
    background-color: $color-grey-bg;
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
  }

  .contact {
    &__list {
      margin-left: 142px;
      padding: 0;
    }

    &__item:first-child {
      display: none;
    }

    &__item::before {
      display: none;
    }

    &__item::after {
      display: none;
    }
  }
  .networks__list {
    display: none;
  }


  .navigation {
    display: none;


    &.open {
      display: grid;
      align-items: flex-end;
      background-color: $color-main;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      padding: 0 8px;
      z-index: 2;
    }

    &__list {
      background-color: $color-white;
      border-radius: 12px 12px 0 0;
      flex-direction: column;
      padding: 64px 12px 12px 12px;
      position: relative;
    }

    &__item {
      margin-right: 0;
      margin-bottom: 15px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      padding: 7px 0;
      background-color: $color-grey-bg;
      border-radius: 12px;
      width: 100%;
      @include font-primary(24px, 29px, $color-active-regular, $weight-bold);


      &:hover {
        border-bottom: none;
        background-color: $color-grey-separator;

      }

      &--active {
        border-bottom: none;
        color: $color-accent;
      }
    }
  }
  .overlay {
    &__close {
      display: block;
      position: absolute;
      right: 12px;
      top: 12px;
    }

    &__open {
      display: block;
      margin-left: auto;
    }

    &__link {
      display: block;
      position: relative;
      height: 32px;
      width: 32px;
      border-radius: 8px;


      &:hover {
        background-color: $color-grey-separator;
      }
    }

    &__svg {
      display: block;
      position: absolute;
      right: 0;
      top: 0;

    }

  }
  .services {

    &__container {
      max-width: 375px;
      padding: 30px 15px;
    }
    &__body {
      max-width: 315px;
    }
    &__title {
      @include font-primary (30px, 37px);

    }
  }
  .team {

    padding: 35px 0;

    &__title {
      @include font-primary(36px, 43px);
      letter-spacing: 13px;
    }
  }
}