//    header            ///////////////////////////////////////////////////////////////////

@import "destyle";
@import "mixin";
@import "fonts";
@import "variables";

body {
  position: relative;
  min-width: 375px;
  font-family: 'Montserrat', sans-serif;
  @include font-primary (16px, 20px, $color-main, $weight-regular);
}
.container {
  padding: 0 15px;
  max-width: 1630px;
  width: 100%;
  margin: 0 auto;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  &__container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 16px 0;
  }
}
.logo {
  &__body {
    display: flex;
    margin-right: auto;
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
  }
  &__link {
  }
}
.overlay__open {
  display: none;
}
.overlay__close {
  display: none;
}
.additional {
  grid-row: 1/2;
  grid-column: -2/-1;
  margin-left: auto;
  display: flex;
  align-items: center;
  align-content: flex-start;
}
.language {
  &__list {
    display: flex;
  }
  &__item {
  }
  &__link {
    @include font-primary(12px, 15px, $color-white, $weight-bold, $font-family);
    padding: 5px 7px;
    border-radius: 8px;
    display: block;
  }
  &__link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__link--active {
    background-color: $color-accent;
    color: $color-white;
    &:hover {
      background-color: $color-accent;
    }
  }
}
.contact {
  &__list {
    display: flex;
    padding: 0 18px;
  }
  &__item {
    position: relative;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 8px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $color-grey-separator;
    }
    &::after {
      content: "";
      position: absolute;
      right: -12px;
      top: 8px;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      background-color: $color-grey-separator;
    }
  }
  &__link {
    display: block;
    color: $color-white;
    &--phone {
      font-weight: $weight-bold;
      color: $color-white;
    }
  }
}
.networks {
  &__list {
  }
  &__item {
  }
  &__link {
    display: block;
  }
  &__svg {
    & path:hover {
      fill: $color-accent;
    }
    & path {
      fill: $color-white;
    }
  }

  path:hover {
    fill: $color-accent;
  }
}
.navigation {
  grid-row: 2/3;
  grid-column: -2/-1;
  margin-left: auto;
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    @include font-primary (16px, 20px, $color-active-regular, $weight-bold, $font-family);
    color: $color-white;
    &:hover {
      border-bottom: 2px solid $color-white;
    }
  }
}
@media (max-width:1920px) {
  .header__container {
    max-width: 1350px;
  }
}
@media (max-width:1440px) {
  .header__container {
    max-width: 964px;
  }
}
@media (max-width:1024px) {
  .header__container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 30px 0;
    max-width: 678px;
  }
  .logo__body {
    grid-row: 2/3;
  }
  .additional {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 0;
  }
  .navigation {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 0;
  }
}
@media (max-width:768px) {
  .header__container {
    gap: 0;
    padding: 45px 0 10px 0;
    max-width: 100%;
  }
  .logo {
    &__body {
      margin: 0 auto;
      max-width: 375px;
      padding: 15px 15px 20px 15px;
    }
    &__img {
      max-height: 32px;
      max-width: 70px;
    }
    &__page-name::before {
      width: 12px;
      height: 26px;
    }
    &__page-name {
      padding-left: 20px;
      @include font-primary(20px, 24px);
      background-size: 12px 26px;
    }
  }
  .additional {
    background-color: rgba(245, 245, 250, 0.2);
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
  }
  .contact {
    &__list {
      margin-left: 142px;
      padding: 0;
    }
    &__item:first-child {
      display: none;
    }
    &__item::before {
      display: none;
    }
    &__item::after {
      display: none;
    }
  }
  .networks__list {
    display: none;
  }
  .navigation {
    display: none;
    &.open {
      display: grid;
      align-items: flex-end;
      background-color: $color-main;
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      padding: 0 8px;
      z-index: 2;
    }
    &__list {
      background-color: $color-white;
      border-radius: 12px 12px 0 0;
      flex-direction: column;
      padding: 64px 12px 12px 12px;
      position: relative;
    }
    &__item {
      margin-right: 0;
      margin-bottom: 15px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      padding: 7px 0;
      background-color: $color-grey-bg;
      border-radius: 12px;
      width: 100%;
      @include font-primary(24px, 29px, $color-active-regular, $weight-bold);
      &:hover {
        border-bottom: none;
        background-color: $color-grey-separator;
      }
    }
  }
  .overlay {
    &__close {
      display: block;
      position: absolute;
      right: 12px;
      top: 12px;
    }
    &__open {
      display: block;
      margin-left: auto;

    }
    &__link {
      display: block;
      position: relative;
      height: 32px;
      width: 32px;
      border-radius: 8px;
      &:hover {
        background-color: rgba(245, 245, 250, 0.2);
      }
      &--close:hover {
        background-color: $color-grey-separator;
      }
    }
    &__svg {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.screen {
  background: $color-gradient-supersoft;
  background-attachment: fixed;
  &__container {
    padding: 72px 0 0 0;
    height: 100vh;
    width: 100%;
    background-image: url("../img/svg/logo-h.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include font-primary(38px, 46px, $color-white, $weight-bold);
    line-height: 46px;
    text-align: center;
    margin: auto;
    padding: 0 15px;

  }
  &__link {
    display: block;
    margin: 0 auto 30px auto;
  }
  &__svg {
    &:hover path {
      stroke: $color-accent;
    }
    &:hover circle {
      stroke: $color-accent;
    }
  }
}
@media (max-width: 1024px) {
  .screen__container {
    background-size: cover;
  }
}
@media (max-width: 769px) {
  .screen__title {
    max-width: 375px;
  }
}
.intro {
  background: $color-gradient-supersoft;
  background-attachment: fixed;
  &__swiper {
    display: none;
  }
  &__container {
    padding: 60px 15px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: rgba(255, 255, 255, 0.3) solid 4px;
    padding-right: 60px;
    margin-right: 60px;
  }
  &__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    @include font-primary(38px, 46px, $color-grey-text, $weight-bold);
    &:hover {
      color: $color-accent;
    }
    &--active {
      background: $color-gradient-color-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__body {
    max-width: 861px;
    width: 100%;
    padding: 73px 0;
  }
  &__title {
    @include font-primary(30px, 37px, $color-white, $weight-bold);
    margin-bottom: 30px;
  }
  &__text {
    @include font-primary(19px, 30px, $color-white, $weight-regular);
  }
}
@media (max-width: 1920px){
  .intro {
    &__container {
      max-width: 1110px;
    }
    &__body {
      max-width: 581px;
      padding-top: 43px;
      padding-bottom: 43px;
    }
  }
}
@media (max-width: 1440px){
  .intro {
    &__container {
      max-width: 934px;
    }
    &__body {
      max-width: 405px;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}
@media (max-width: 1024px){
  .intro {
    overflow-x: hidden;
    &__container {
      padding: 0;
      max-width: 698px;
      flex-direction: column;
      overflow-x: visible;

    }
    &__body {
      max-width: 648px;
      padding: 60px 0;
      border-top: rgba(255, 255, 255, 0.3) solid 4px;
      margin: 0 auto;
    }
    &__list--hide {
      display: none;
    }
    &__swiper {
      display: block;
    }
    &__list--swiper {
      flex-direction: row;
      align-items: flex-start;
      padding: 60px 0;
    }
    &__item--swiper {
      align-items: flex-start;
      background-color: transparent;
      flex-shrink: 1;
      white-space: nowrap;
    }
  }
}
@media (max-width: 768px) {
  .intro {
    &__container {
      max-width: 768px;
    }
    &__body {
      max-width: 315px;
    }
    &__title {
      @include font-primary(20px, 24px, $color-white, $weight-bold);
    }
    &__link {
      @include font-primary(30px, 37px);

    }
  }
}

@import "components/service";
@import "components/team-slider";
@import "components/trust-us-section";
@import "components/publications-section";
@import "components/footer";