.publications {
  background-color: #F5F5FA;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 15px 60px 15px;
  }
  &__link {
    @include font-primary(14px, 17px, $color-active-regular, $weight-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
    &--title {
      @include font-primary(16px, 20px, $color-active-regular, $weight-bold);
      &:hover {
        color: $color-accent;
      }
    }
    &:hover {
      color: $color-accent;
    }
  }
  &__title {
    @include font-primary(38px, 46px, $color-active-regular, $weight-bold);
    background: $color-gradient-color-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__list {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  &__item {
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    &-body {
      padding: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  &__date {
    @include font-primary(12px, 15px, $color-grey-text, $weight-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 0;
  }
  &__text {
    padding-top: 15px;
    @include font-primary(14px, 22px, $color-black);
    border-top: $color-grey-separator solid 4px;
  }
}
.btn {
  @include font-primary(16px, 20px, $color-main, $weight-bold);
  padding: 8px 30px 10px 30px;
  text-align: center;
  background-color: $color-grey-separator;
  border-radius: 12px;
  &:hover {
    background-color: $color-grey-bg;
  }
  &__body {
    display: flex;
    margin: 0 auto;
    background-color: $color-grey-separator;
    border: $color-grey-separator solid 2px;
    border-radius: 12px;
    gap: 2px;
  }
  &__news {
    background-color: $color-white;
  }
  &__publications {
    @include font-primary(16px, 20px, $color-white, $weight-bold);
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
    padding: 18px 30px;
    border-radius: 12px;
    background-color: $color-active-regular;
    margin: 0 auto;
    &:hover {
      background-color: $color-active-hover;
    }
  }
}
@media (max-width: 1920px) {
  .publications {
    &__container {
      max-width: 1350px;
    }
  }
}
@media (max-width: 1440px){
  .publications {
    &__container {
      max-width: 934px;
    }
  }
}
@media (max-width: 1024px){
  .publications {
    &__container {
      max-width: 678px;
    }
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr;
      gap: 30px;
    }
  }
}
@media (max-width: 768px){
  .publications {
    &__container {
      max-width: 345px;
    }
    &__list {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px 0;
    }
  }
}